.filter-body {
  position: relative;
  top: 62px;
  /* height: 100vh !important; */
  min-height: 100vh !important;
  background: #F4F4F4;
  --background: #F4F4F4;
  height: calc(100vh - 129px);
  width: 100vw;
  position: absolute;
  /* margin-bottom: 187px; */
  overflow-y: scroll;
  /* top: 60px; */
}

.filter-card {
  border-radius: 8px;
  padding-bottom: 8px;
  --border-width: 0 0 0 0;
  padding-bottom: 0px;
  box-shadow: none;
  margin: 0px 20px 12px 20px;
}

.filter-item {
  --padding-end: 20px;
  --inner-border-width: 0.55px 0px 0px 0px;
}

.custom-chip {
  border-radius: 4px;
  padding: 3px 7px;
  color: var(--ion-color-primary);
  background: var(--ion-color-primary-tint);
}

.close-button {
  padding: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  color: var(--ion-color-primary);
}
